.banner {
    text-align: center;
}
.banner ul li {
    float: left;
}

.blue{
	background-color:blue;
	height:30px;
}
.green{
	background-color:green;
	height:50px;
}

button{
	background-color:#3c8ffe;
	border:none;
	padding:0px;
	border-style:outset;
	border-style:inset;
}